body {
    background-color: black;
}

#firmament{
    margin-top: 20px;    
    margin-bottom: 20px;
}

#stars{
<<<<<<< HEAD
    width: 640px;
    float: right;

=======
    width: 1100px;
    margin: 0 auto;
>>>>>>> d393460873520f07941ec323d2714a0774a3ae12
}